<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FSA Tienda en linea</title>
  </head>
  <body>
    <div id="root"></div>
    <!-- webpack generate html -->
    <%- partial('../../.tmp/public/index.html') %>
  </body>
</html>
